<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Events Calendar{% endblock %}</title>
    <link href="{{ asset('css/layout.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/base.js') }}" rel="javascript" />
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
  </head>
  <body>
    <div class="topnav">
      <a class="" href="/">Home</a>|
      <a class="{{'/event/' in app.request.uri ? 'active':''}}" href="{{ path('event_index')}}">Events</a>
    </div>

    <div id="content">
      {% block body %}
      {% endblock %}
    </div>

    <footer>
      &copy; Copyright MN, 2017
    </footer>
  </body>
</html>